* {
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial;
}
table, th, td {
    border: 1px solid black;
  }
  
  table {
    width: 60%;
  }
  td{
      text-align: center;
  }

    .k{
        text-decoration: none;
        color: black;
        border: black 1px;
        border-style: solid  ;
    }
.zakelijk{
    padding: 0.6% 1.5%;
}
.zakelijk:hover{
    background-color: rgb(44, 44, 44);
    color: rgb(255, 255, 255);
}
.particulier{
    padding: 0.6%;
    background-color: rgb(56, 56, 56);
    color: rgb(255, 255, 255);
}
.bestelformulierP{
    border: black 1px;
    border-style: solid;
    padding: 1% 1% 1% 1%;
    margin: 20%;
}
.knop{
    margin-bottom: 3%;
}

  .nav{
    overflow: hidden;
    height: 100%;
    float: left;
  }
  .nav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  .nav a:hover{
    background-color: #bbb;
    color: #000;
  }
  .sidenavi{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #100;
    opacity: 1;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.4s;
  }
  .sidenavi a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 24px;
    color: white;
    display: block;
    transition: 0.2s;
  }
  .sidenavi a:hover{
    color: rgb(206, 206, 206);
  }
  .sidenavi .knop-sluit{
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
  }
  #mainn{
    transition: margin-left 0.5s;
    padding: 20px;
    overflow: hidden;
    width: 100%;
  }
 .loguit{
   cursor: pointer;
   background-color: black;
   color: white;
   padding: 10px 15px;
 }
 .loguit:hover{
  background-color: #333;
    color: white;
    text-decoration: none;
 }
 
 

  @media(max-width:570px){

  }

