* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
    font-family: Arial;
}
table, th, td {
    border: 1px solid black;
  }
  
  table {
    width: 60%;
  }
  td{
      text-align: center;
  }

    .k{
        text-decoration: none;
        color: black;
        border-bottom: black 1px;
        font-size: xx-large;
        box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);

    }
.zakelijk{
    padding: 0.6% 7%;
}
.zakelijk:hover{
    background-color: rgb(82, 81, 81);
    color: rgb(255, 255, 255);
    
}
.particulier{
    padding: 0.6%;
    background-color: rgb(82, 81, 81);
    color: rgb(255, 255, 255);
}
.formulier{
  margin-top: 10%;
}
.bestelformulierP{
 
    margin: 5% 30% 30% 30%;
    padding: 0% 0% 3% 0%;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}
.input{
  font-size: x-large;  
}


  .nav{
    overflow: hidden;
    height: 100%;
    float: left;
  }
  .nav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  .nav a:hover{
    background-color: #bbb;
    color: #000;
  }
  .sidenavi{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #100;
    opacity: 1;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.4s;
  }
  .sidenavi a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 24px;
    color: white;
    display: block;
    transition: 0.2s;
  }
  .sidenavi a:hover{
    color: rgb(206, 206, 206);
  }
  .sidenavi .knop-sluit{
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
  }
  #mainn{
    transition: 0.5s;
    padding: 20px;
    overflow: hidden;
    width: 100%;
  }
.terugklantoverzicht{
  float: left;
  text-decoration: none;
  margin-left: 20px;
  padding: 5px;
  color: #000;
  background-color: white;
  outline: 5px solid #000;
}
.terugklantoverzicht:hover{
  background-color: white;
  outline: 2px solid #000;
  transition: 0.3s;
}
.toevoegknop{
background-color: white;
margin-left: 10px;
margin-top: 70px;
padding: 15px;
float: right;
text-decoration: none;
color: black;
outline: 2px solid #000;
}
.toevoegknop:hover{
  background-color: whitesmoke;
}
.accountformulier{
padding-left: 250px;
padding-right: 250px;
padding-top: 150px;
padding-bottom: 150px;
justify-content: center;
margin-left: 500px;
margin-top: 100px;
max-width: 650px;
display: grid;
grid-template-columns: repeat(2, 1fr);
box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}
.f{
  margin: 3px;
  padding: 3px;
  position: relative;
}
.mab{
  background-color: #000;
  color: white;
  cursor: pointer;
}
.mab:hover{
  background-color: #e7e7e7;
}
  .klanttabel{
    margin-left: 300px;
    margin-top: 100px;
    float: left;
    background-color: white;
    outline: 2px solid #000;
    box-shadow: 0px 0px 2px 4px rgba(0, 0, 0, 0.19);
  }
 .loguit{
   cursor: pointer;
   color: red;
   padding: 10px 15px;
   text-decoration: none;
   float: left;
   margin-bottom: 1px;
 }
 .loguit:hover{
  background-color: #333;
    color: white;
    text-decoration: none;
 }
 .Verwijderen{
   text-decoration: none;
   color: grey ;
 }
 .Verwijderen:hover{
   color: #000;
 }
.klanttekst{
  margin-left: 700px;
  margin-top: 20px;
  font-size: xx-large;
}
.lichaam {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url();
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  min-height: 400px;
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  padding: 40px 30px;
}

.container .login-text {
  color: #111;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 20px;
  display: block;
  text-transform: capitalize;
}

.container .login-social {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  margin-bottom: 25px;
}

.container .login-social a {
  padding: 12px;
  margin: 10px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  color: #FFF;
  transition: .3s;
}

.container .login-social a i {
  margin-right: 5px;
}

.container .login-social a.facebook {
  background: #4267B2;
}

.container .login-social a.twitter {
  background: #1DA1F2;
}

.container .login-social a.google-plus {
  background: #db4a39;
}

.container .login-social a.linkedin {
  background: #0e76a8;
}

.container .login-social a.facebook:hover {
  background: #3d5fa3;
}

.container .login-social a.twitter:hover {
  background: #1991db;
}

.container .login-social a.google-plus:hover {
  background: #ca4334;
}

.container .login-social a.linkedin:hover {
  background: #0b5c81;
}

 .input-group {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
}

 .input-group input {
  width: 100%;
  height: 100%;
  border: 2px solid #e7e7e7;
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 30px;
  background: transparent;
  outline: none;
  transition: .3s;
}

.container .login-email .input-group input:focus, .container .login-email .input-group input:valid {
  border-color: #a29bfe;
}

 .btn {
  display: block;
  width: 100%;
  padding: 15px 20px;
  text-align: center;
  border: none;
  background: #000000;
  outline: none;
  border-radius: 30px;
  font-size: 1.2rem;
  color: #FFF;
  cursor: pointer;
  transition: .3s;
}

 .btn:hover {
  
 background:  #575757;
}

.login-register-text {
  color: #000;
  font-weight: 600;
}
.login-register-text:hover{
  color:  grey;
  transition: 0.3s;
}

.login-register-text a {
  text-decoration: none;
  color: #000000;
}

@media (max-width: 430px) {
  .container {
      width: 300px;
  }
  .container .login-social {
      display: block;
  }
  .container .login-social a {
      display: block;
  }
}

  @media(max-width:570px){

  }
  

